/*Coming Soon*/
body {
    margin:0;
 }
 
 .patterns {
   height: 50vh;
   width: 500vh;
 
 }
 
 svg text {
   font-family: Lora;
   letter-spacing: 10px;
   stroke:rgb(249, 251, 252);
   font-size: 90px;
   font-weight: 700;
   stroke-width: 5;
  
   animation: textAnimate 5s infinite alternate;
   
 }
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     fill:hsl(0, 92%, 49%)
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill: hsla(189, 68%, 75%,0%)
   }
   
 }